<%-include("header") -%>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis modi numquam itaque, reprehenderit dolore autem culpa repudiandae maiores est alias enim tenetur, tempora deserunt aliquam beatae dolor consectetur harum vel labore odio nulla! Atque laborum ab quas ad neque animi debitis tempore suscipit porro omnis in, provident, doloribus, eius iste.</p>


<%-include("footer") -%>